
/* Stylesheet content from worklight/worklight.css in JS Resources */
/*
*
    COPYRIGHT LICENSE: This information contains sample code provided in source code form. You may copy, modify, and distribute
    these sample programs in any form without payment to IBM® for the purposes of developing, using, marketing or distributing
    application programs conforming to the application programming interface for the operating platform for which the sample code is written.
    Notwithstanding anything to the contrary, IBM PROVIDES THE SAMPLE SOURCE CODE ON AN "AS IS" BASIS AND IBM DISCLAIMS ALL WARRANTIES,
    EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, SATISFACTORY QUALITY,
    FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND ANY WARRANTY OR CONDITION OF NON-INFRINGEMENT. IBM SHALL NOT BE LIABLE FOR ANY DIRECT,
    INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR OPERATION OF THE SAMPLE SOURCE CODE.
    IBM HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS OR MODIFICATIONS TO THE SAMPLE SOURCE CODE.

*/



ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
	q:before, q:after {
	content: '';
	content: none;
}

a, button {
	cursor: pointer;
}

.show {
	display: inherit;
}

.hide {
	display: none !important;
}

.clear {
	clear: both;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.strong {
	font-weight: bold;
}

.rtl {
	direction: rtl;
	text-align: right;
}

.ltr {
	direction: ltr;
	text-align: left;
}

.center {
	text-align: center;
}

.max {
	height: 100%;
	width: 100%;
}

/******************************** END BASE CSS ***********************************/

body {
	position: relative;
}

#blockOuter {
	width: 100%;
	background: #fff;
	color: inherit;
	overflow: hidden;
	position: absolute;
	z-index: 110;  /* Must be bigger than authenticator z-index (100). */
	left: 0;
	top: 0;
	height: 100%;
}

/* The id is set in the upgrade version in messages.js */
#downloadNewVersion {
	cursor: pointer;
	text-decoration: underline;
	color: #0000ff;
}

#auth {
	display: none;
	position: relative;
	height: 100%;
	width: 100%;
}

#diagnostic {
	background-color: white;
	-webkit-tap-highlight-color: rgba(0,0,0,0);	
}

.diagnosticTable td {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	font-size: 16px;
	padding: 2px;
	color : black;
	width: 50%;
	word-break: break-all;
}

.diagnosticButtons {
	font-size:16px;
	height:40px;
	width: auto;
	font-weight: normal;
	margin: 5px;
}

/* Start styling for the modal window */
#WLdialogContainer {
	position: static;
}

#WLdialogOverlay {
	background: #fff;
	height: 100%;
	left: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position: absolute;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 16777269;
}

#WLdialog {
	background: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	margin: 0 auto;
	padding: 5px;
	position: absolute;
	position: fixed;
	width: 280px;
	z-index: 16777270;
}

#WLdialogTitle {
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

#WLdialogBody {
	margin: 5px 0;
	min-height: 48px;
}

#WLdialog button {
	margin: 0 5px;
}
/* End styling for the modal window */

/* Start styling for the busy modal window */
#WLbusyContainer {
	position: static;
}

#WLbusyOverlay {
	background: #fff;
	height: 100%;
	left: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-o-opacity: 0.5;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9998;
}

#WLbusy {
	background: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	overflow: hidden;
	padding: 5px;
	position: absolute;
	width: 240px;
	z-index: 9999;
}

#WLbusyTitle {
	color: #000;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	padding: 5px;
	text-align: center;
}

/* End styling for the busy modal window */

html, body {
    overflow: visible;    
}

#debugPanel {
	top: 40px;
}

.diagnosticButtons {
	border-color: #DDDDDD;
}

/* Worklight class for hiding elements in background events */
.WLHideOnEnteringBackgroundHidden {
	visibility: hidden !important;	
}

/*Optional iOS 7 status bar filler*/
#wl_ios7bar{
	background-color: white;
	height: 15pt;
	position: fixed;
	top: 0;
	width:100%;
}
body.wl_ios7{
	padding-top: 15pt;
}